лекции
условия лаб
.DS_Store
lab1/.deps/
lab1/run_lab1.py
lab2/run_lab2.py
lab3/run_lab3.py
lab4/run_lab4.py
lab5/run_lab5.py
lab6/run_lab6.py
lab7/run_lab7.py
lab6/source_symbols/
lab7/results/
__pycache__/
*.py[cod]